@import './variables';

.text {
    &--orange {
        color: $orange;
    }
    &--blue {
        color: $blue;
    }
}

.btn {
    &--orange {
        background-color: $orange;
        color: white;
        &:hover {
            background-color: darken($orange, 10%);
            color: white;
        }
    }

    &--blue {
        @extend .btn--orange;
        background-color: $blue;
        &:hover {
            background-color: darken($blue, 10%);
        }
    }

    &--outline {
        background: transparent;
        &.btn--orange {
            color: $orange;
            border: 2px solid $orange;
            &:hover {
                background-color: $orange;
                color: white;
            }
        }
        
        &.btn--blue {
            color: $blue;
            border: 2px solid $blue;
            &:hover {
                background-color: $blue;
                color: white;
            }
        }
    }

    &--rounded {
        border-radius: 100rem;
    }
}