.landing {
    font-size: 1.5rem;
    display: flex;
    flex-direction:  column;
    align-items: flex-start;

    &__header {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    &__header-text {
        font-size: 3.5em;
        margin: 0;
        position: relative;
        &:after {
            content: ' ';
            display: block;
            position: absolute;
            bottom: 0;
            width: 4.5em;
            height: 0.35em;
            background: #262B30;
            z-index: -1;
        }
    }
    
    &__subheader {
        font-size: 2em;
        margin: 0;
        margin-bottom: 0.25em;
        font-weight: 700;
    }

    &__btn {
        font-size: 0.75em;
        padding: 0.4em 2em;
        border: 0;
    }
    
    &__link {
        align-self: flex-end;
    }
}