@import 'variables';
@import 'keyframes';

.landing-container {
    flex-grow: 1;
}

.landing {
    font-size: 1.5rem;
    display: flex;
    flex-direction:  column;
    align-items: flex-start;
    position: relative;
    overflow: hidden;
    min-height: 100vh;

    &::before {
        content: 'scroll down ――> ';
        font-size: 1rem;
        position: absolute;
        bottom: 0.5rem;
        left: 1rem;
        writing-mode: vertical-rl;
        z-index: 3;

        color: $orange;
        font-weight: 600;
        

        animation: jump 1s ease infinite;
    }

    &::after {
        content: 'scroll down ――> ';
        font-size: 1rem;
        position: absolute;
        bottom: 0.5rem;
        right: 1rem;
        writing-mode: vertical-rl;
        z-index: 3;

        color: $blue;
        font-weight: 600;

        animation: jump 1s ease infinite;
    }

    &__canvas {
        position: absolute;
        // background-color: darken($baseBG, 5%);
        top: 0;
        left: 0;
        z-index: 1;
        width: 100%;
        height: 100%;
    }

    &__header {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        opacity: 0;
        margin-top: 2rem;
        font-size: 1.75rem;
        animation: fade-enter-right 1s ease 0s 1 forwards;
        z-index: 2;
    }

    &__header-wrapper {
        flex-grow: 0;
    }

    &__header-text {
        font-size: 3.5em;
        margin: 0;
        position: relative;
        z-index: 2;
        &::before {
            content: ' ';
            display: block;
            position: absolute;
            bottom: 0;
            width: 4.5em;
            height: 0.35em;
            background: #262B30;
            z-index: -1;
        }
    }
    
    &__subheader {
        font-size: 2em;
        margin: 0;
        margin-bottom: 0.25em;
        font-weight: 700;
    }

    &__btn {
        font-size: 0.75em;
        padding: 0.4em 2em;
        border: 0;
    }
    
    &__link {
        align-self: flex-end;
    }

    &__sun {
        position: absolute;
        top: -110rem;
        left:-15rem;
        width: 175rem;
    }
}

.section {
    width: 100%;
    padding: 2rem 3rem;

    &__work-link {
        color: $blue;
        text-decoration: none;
        transition: color 0.5s ease;
        &:hover {
            color: darken($blue, 10%);
        }
    }
}

.landing-portfolio {
    background: #0C0F13;
    // background: rgb(19,21,22);
    // background: linear-gradient(0deg, #0C0F13 0%, rgba(10,14,19,1) 90%, rgba(37,42,49,0) 100%);
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding-bottom: 8rem;
    position: relative;
    &__header {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        // margin-bottom: 5rem;
        gap: 5rem;
        width: 100%;
    }

    &__work-btn {
        text-decoration: none;
        padding: 0.5rem 1rem;
        flex-shrink: 0;
        margin-bottom: 1rem;
    }
}

.landing-about {
    background: #101519;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5rem inital;
}

.landing-contact {
    background: #151C22;
    &__form {
       width: 100%;
    }
}

.footer {
    width: 100%;
    padding: 0.25rem;
    text-align: center;
    background: darken($baseBG, 2%);
}

@media (max-width: 1000px) {
    .landing {
        &__header {
            padding: 2rem 0 3rem 0;
            font-size: 1.4rem;
            animation-name: fade-enter-down;
        }
        &__header-text {
            &::before {
                width: 100%;
            }
        }
        padding: 3rem;
    }
    .landing-portfolio {
        padding-bottom: 3rem;
        &__header {
            flex-direction: column;
            gap: 0;
            margin-bottom: 1rem;
        }

        &__work-btn {
            display: none;
        }
    }
}

@media (max-width: 800px) {
    .landing {
        &::after {
            font-size: 0.9rem;
        }
        &::before {
            font-size: 0.9rem;
        }
        &__canvas {
            display: none;
        }
        br {
            display: none;
        }
        text-align: center;
        min-height: auto;
        .container {
            padding: 1rem;
            padding-top: 0;
            justify-content: center;
            text-align: center;
            align-items: center;
        }
        &__header {
            align-items: center;
        }
        &__link {
            align-self: center;
        }
    
    }
    .section__header {
        text-align: center;
    }
    .section {
        padding: 1rem 1.5rem;
    }
}