@import 'variables';

.landing {
    font-size: 1.5rem;
    display: flex;
    flex-direction:  column;
    align-items: flex-start;

    &__header {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    &__header-text {
        font-size: 3.5em;
        margin: 0;
        position: relative;
        &:after {
            content: ' ';
            display: block;
            position: absolute;
            bottom: 0;
            width: 4.5em;
            height: 0.35em;
            background: #262B30;
            z-index: -1;
        }
    }
    
    &__subheader {
        font-size: 2em;
        margin: 0;
        margin-bottom: 0.25em;
        font-weight: 700;
    }

    &__btn {
        font-size: 0.75em;
        padding: 0.4em 2em;
        border: 0;
    }
    
    &__link {
        align-self: flex-end;
    }
}

.section {
    min-height: 100vh;
    &__header {
        max-width: 50%;
    }
}

.landing-portfolio {
    background: #0C0F13;

    display: flex;
    flex-direction: column;
    gap: 5rem;
    padding-bottom: 5rem;
    &__header {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        // margin-bottom: 5rem;
        gap: 5rem;
    }

    &__work-btn {
        text-decoration: none;
        padding: 0.5rem 1rem;
        flex-shrink: 0;
        margin-bottom: 1rem;
    }
}

.landing-about {
    background: #101519;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.landing-contact {
    border-top: 3px solid #1F3A56;
    background: #151C22;
    &__form {
       max-width: 75%;
    }
}
