@import './globals';
@import './variables';

*, *:before, *:after {
    box-sizing: border-box;
}

html {
    background-color: darken($baseBG, 3%);
}

body {
    color: white;
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.main-container {
    display: flex;
    padding-left: 6rem;
    position:relative;
}

.container > section, .main-container > main {
    padding: 3rem 5rem;
}

.container, .main-container > main {
    max-width: 1600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.warning {
    left: 0;
    z-index: 5;
    width: 100%;
    height: 50px;
    padding:  1rem;
    display: flex;
    position: absolute;
    text-align: center;
    align-items: center;
    pointer-events: none;
    justify-content: center;
    background: rgba(122, 6, 6, 0.6);
}

@media (max-width: 1300px) {
    .nav__large {
        position: relative;
        flex-direction: row;
        height: 6rem;
    }

    .main-container {
        padding-left: 0;
        flex-direction: column;
    }

    .landing-container {
        padding-top: $topNavWidth;
    }

    .main-container > main {
        padding-top: calc($topNavWidth * 2);
    }
}


@media (max-width: 800px) {
    .container > section, .main-container > main {
        padding: 1rem 3rem;
    }

    .landing-container {
        padding-top: 0;
    }
}
