@import './variables';

.nav {
    z-index: 999; 
    
    background: hsl(213, 14%, 15%);
    position: fixed;
    left: 0;
    width: 6rem;    
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    & > * {
        margin: 0.5rem;
    }
    
    &__logo {
        display: block;
        background: saturate($color: darken(#21262C, 3%), $amount: 2%);
        padding: 0.75rem 1rem;
        border-radius: 1rem;
        margin: 0.75rem;

        img {
            width: 100%;
        }
    }

    &__social-links {
        display: flex;
        flex-direction: column;
        font-size: 1.5rem;

        a {
            padding: 0.25rem;
            color: #d6dce4;
        }
    }

    &__link-wrapper {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin: 0;
    }

    &__link {
        display: block;
        width: 100%;
        transition: all 0.25s ease;
        text-decoration: none;

        p {
            border-radius: 100%;
            margin: 1rem auto;
            color: white;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            * {
                color: white;
                font-size: 1rem;
            }
        }

        &:hover {
            background: lighten(#191B1E, 1%);
        }
    }
}

.nuxt-link-exact-active {
    left: 0;
    background: #191B1E;
    position: relative;
    &:before {
        content: ' ';
        display: block;
        position: absolute;
        left: 0;
        width: 0.25rem;
        background: $blue;
        height: 100%;
    }
}


@media (max-width: 1300px) {
    .nav {
        position: fixed;
        flex-direction: row;
        height: $topNavWidth;
        width: 100%;
        &__logo {
            display: block;
            background: saturate($color: darken(#21262C, 3%), $amount: 2%);
            padding: 0.25rem 1rem;
            border-radius: 0;
            margin: 0;
            height: 100%;
            img {
                width: initial;
                height: 100%;
            }
        }
        &__link {
            top: 0;
            height: 100%;
        }
        &__link-wrapper {
            flex-direction: row;
            width: 50%;
            height: 100%;
        }
        &__social-links {
            flex-direction: row;
            gap: 0 0.5rem;
        }
    }

    .nuxt-link-exact-active {
        left: 0;
        background: #191B1E;
        position: relative;
        &:before {
            bottom: 0;
            width: 100%;
            height: 0.25rem;
        }
    }
}


@media (max-width: 800px) {
    .nav {
        padding-bottom: 2rem;
        flex-direction: column;
        height: 100%;
        width: 100%;
        gap: 3rem;
        top: -100%;
        &__logo {
            padding: 1.5rem;
            height: 15rem;
            width: 100%;
            img {
                width: initial;
                display: block;
                margin: 0 auto;
                height: 100%;
            }
        }
        &__link {
            display: flex;
            justify-content: center;
            align-items: center;
            border-bottom: 1px solid rgb(5, 22, 41);
        }
        &__link-wrapper {
            flex-direction: column;
            width: 100%;
            height: 50%;
        }
        &__social-links {
            flex-direction: row;
            font-size: 2rem;
            gap: 1.5rem;
        }
    }

    .nuxt-link-exact-active {
        left: 0;
        background: #191B1E;
        position: relative;
        &:before {
            bottom: inital;
            top: 0;
        }
    }
}